<div class="TopNav" id="TopNavigation">
  <a href="https://consultants-d87ef.web.app/about">
    <div class="logo">
      <h5 style="color:white;">AJAO.H<span style="font-size: x-small">FULLSTACK DEVELOPER</span><em>☁</em></h5>
    </div>
  </a>
  <a routerLink="/" class="active">HOME</a>
  <a routerLink="/player1record">🙋‍♀ Player1record</a>
  <a routerLink="/player2record">🙋‍♂ Player2record</a>
  <a routerLink="/gameinprogress">🤷‍♂ GameInProgress</a>
  <a href="javascript:void(0);" style="font-size:25px;" class="icon" onclick="changeTopMenubarToSide()">&#9776;</a>
</div>
