<div class="navbar navbar-expand-lg navbar-dark bg-success p-2 text-white bg-opacity-75"> </div>
<div class="bottom-icons" style="display: inline-flex; width: 100%;">
  <div class="about-body" style="background-color:#191A19;color: #f2f2f2;text-align: center; padding: 25px; width: 100%">About</div>
  <div class="Project-body"  style="background-color:#2C272E;color: #f2f2f2;text-align: center; padding: 25px; width: 100%">Project</div>
  <div class="contact-body"  style="background-color:#191A19;color: #f2f2f2;text-align: center; padding: 25px; width: 100%">Contact</div>
</div>
