<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-success p-2 text-white bg-opacity-75">
  <a class="navbar-brand" style="color:white;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#addGameinprogressModal ">➕ Add GameInProgress <span
          class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchGameinprogress(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search game in progress..." required>
    </form>
  </div>
</nav>

<!-----------------------------------------------------------Main---------------------------------------------------->
<div class="pic-table" style="display: inline-block;width:100%" style="margin-bottom: 100%">
  <div class="container" id="main-container" style="width:100%;">
    <div class="pic" style="padding:10px;width:100%">
      <h2 style="font-family: Serif;text-shadow:white;color: #091b29;padding: 5px;text-align:center">
        <b>ROCKPAPERSCISSORS GAME</b><br><br> <h4> MATCH RESULT APP</h4><br><br>
        🧍‍♂<h4 class="shadow-sm p-3 mb-5 bg-body rounded bg-success">GAME IN PROGRESS</h4>
      </h2>
    </div>
    <h5 style="text-align: left;color: #4E9F3D; margin-left: 8px"><b> LEADING PLAYERS</b></h5>
    <div style="display: inline-flex" class="rock-paper-scissors">
      <div *ngFor="let gameinprogress of gameinprogresses" class="">
        <div
          style="border:2px solid #091b29;margin: 4px; background-color: lightyellow;text-align: center; padding:5px;">
          <h6>
            <td
              style="background-color:#557C55;color: white;padding:5px; text-align: center ">{{gameinprogress?.leadingPlayer}}</td>
          </h6>
        </div>
      </div>
    </div>
    <br><br>️

    <table border="4" style="width: 100%">
      <thead></thead>
      <tr>
        <th scope="col" style="background-color:#32C1CD ">#</th>
        <th>PLAYER1 NAME</th>
        <th>PLAYER1 SCORES</th>
        <th>PLAYER2 NAME</th>
        <th>PLAYER2 SCORES</th>
        <th>LEADING PLAYER</th>
        <th>GAME-STAGE</th>
        <th><i class="fa fa-pencil"></i> UPDATE</th>
        <th><i class="fa fa-times"></i> DELETE</th>
      </tr>
      <tbody style="background-color: lightyellow">
      <tr *ngFor="let gameinprogress of gameinprogresses; index as ind">
        <th scope="row">{{ind}}</th>
        <td style="background-color:#A6CF98;color: #091b29; text-align: center "><strong>{{gameinprogress?.player1Name}}</strong></td>
        <td style="color: #091b29; text-align: center ">{{gameinprogress?.player1Scores}}</td>
        <td style="background-color:#A6CF98;color: #091b29;text-align: center "><strong>{{gameinprogress?.player2Name}}</strong></td>
        <td style="color: #091b29; text-align: center ">{{gameinprogress?.player2Scores}}</td>
        <td style="background-color:#557C55; color: #f2f2f2;text-align: center ">
          <strong>{{gameinprogress?.leadingPlayer}}</strong></td>
        <td style="color: #091b29; text-align: center ">{{gameinprogress?.gameStage}}</td>
        <td>
          <div class="float-right btn-group btn-group-sm"><a (click)="onOpenModal(gameinprogress, 'edit')"
                                                             class="btn btn-success tooltips" data-placement="top"
                                                             data-original-title="Edit"><i class="fa fa-pencil"></i>
          </a></div>
        </td>
        <td>
          <div class="float-right btn-group btn-group-sm"><a (click)="onOpenModal(gameinprogress, 'delete')"
                                                             class="btn btn-danger tooltips" data-placement="top"
                                                             data-original-title="Delete"><i
            class="fa fa-times"></i></a></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Add Player1 Modal -->
<div class="modal fade" id="addGameinprogressModal" tabindex="-1" role="dialog"
     aria-labelledby="addGameinprogressModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addGameinprogressModalLabel">Add GameInProgress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddGameinprogress(addForm)">
          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="gameStage">GAME STAGE</label>
            <input type="text" ngModel name="gameStage" class="form-control" id="gameStage" placeholder="" required>
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player1Name">PLAYER1 NAME</label>
            <input type="text" ngModel name="player1Name" class="form-control" id="player1Name" placeholder="" required>
          </div>
          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player2Name">PLAYER2 NAME</label>
            <input type="text" ngModel name="player2Name" class="form-control" id="player2Name" placeholder="" required>
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player1Scores">PLAYER1 SCORES</label>
            <input type="text" ngModel name="player1Scores" class="form-control" id="player1Scores" placeholder=""
                   required>
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player2Scores">PLAYER2 NAME</label>
            <input type="text" ngModel name="player2Scores" class="form-control" id="player2Scores" placeholder=""
                   required>
          </div>
          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="leadingPlayer">LEADING PLAYER</label>
            <input type="text" ngModel name="leadingPlayer" class="form-control" id="leadingPlayer" placeholder=""
                   required>
          </div>
          <div class="modal-footer" style="background-color:#32C1CD;padding: 5px; box-shadow: 4px 4px 4px gray"><em
            style="text-align: left">Developed By: Ajao Hazzan</em>
            <button type="button" id="add-gameinprogress-form" class="btn btn-secondary" data-dismiss="modal">Close
            </button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-success">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateGameinprogressModal" tabindex="-1" role="dialog"
     aria-labelledby="gameinprogressEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updategGameinprogressModalLabel">Edit Player1
          <b
            style="background-color: #FF5F7E; margin-left:10px;padding: 10px; color:#091b29 ">{{editGameinprogress?.gameStage}}</b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="gameStage">GAME STAGE</label>
            <input type="text" ngModel="{{gameinprogresses?.gameStage}}" name="gameStage" class="form-control"
                   id="gameStage" aria-describedby="player1NameHelp" placeholder="">
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player1Name">PLAYER1 NAME</label>
            <input type="text" ngModel="{{editGameinprogress?.player1Name}}" name="player1Name" class="form-control"
                   id="player1Name" aria-describedby="player1NameHelp" placeholder="">
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player2Name">PLAYER2 NAME</label>
            <input type="text" ngModel="{{editGameinprogress?.player2Name}}" name="player2Name" class="form-control"
                   id="player2Name" aria-describedby="player2NamesHelp" placeholder="">
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player1Scores">PLAYER1 SCORES</label>
            <input type="text" ngModel="{{editGameinprogress?.player1Scores}}" name="player1Scores" class="form-control"
                   id="player1Scores" aria-describedby="player1ScoresHelp" placeholder="">
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="player2Scores">PLAYER2 SCORES</label>
            <input type="text" ngModel="{{editGameinprogress?.player2Scores}}" name="player2Scores" class="form-control"
                   id="player2Scores" aria-describedby="player2ScoresHelp" placeholder="">
          </div>

          <div class="form-group" style="background-color:#32C1CD;padding: 5px ">
            <label for="leadingPlayer">LEADING PLAYER</label>
            <input type="text" ngModel="{{editGameinprogress?.leadingPlayer}}" name="leadingPlayer" class="form-control"
                   id="leadingPlayer" aria-describedby="leadingPlayerHelp" placeholder="">
          </div>
          <div class="modal-footer" style="background-color:#32C1CD;padding: 5px; box-shadow: 4px 4px 4px gray">
            <button type="button" id=" " data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateGameinprogress(editForm.value)" data-dismiss="modal" class="btn btn-success">Save
              changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteGameinprogressModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete GameInProgress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="border-radius:5px; background-color: #FC9918; box-shadow:2px 2px 2px lightgray; padding: 10px ">Are
          you sure you want to delete GameInProgress {{deleteGameinprogress?.gameStage}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteGameinprogress(deleteGameinprogress?.id)" class="btn btn-danger"
                  data-dismiss="modal">Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no player -->
<div *ngIf="gameinprogresses?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO GameInProgress!</h4>
    <p>No GameInProgress were found.</p>
  </div>
</div>





