<div class="background-style">
  <div class="container" id="main-container" style="width:100%;">
    <div class="header-title">
      <h1> MATCH RESULT APP</h1>
      <h5>ROCK, PAPER, SCISSORS GAME</h5><br><br>
      <div class="rock-paper-scissors">
        <div class="rock"><h4>👊</h4></div>
        <div class="paper"><h4>🤚</h4></div>
        <div class="scissors"><h4>✌</h4></div>
      </div>
      <div class=" web-app">WEB-APP DEVELOPED TO TRACK</div>
      ️
      <a routerLink="/gameinprogress">
        <div class="game-in-progress">
          <span class="spinner-grow text-success" role="status"></span>
          <div class="game-progress">GAME IN PROGRESS</div>
        </div>
      </a><br>
      <div class=" player1-his-record"><a routerLink="/player1record">
        <span
          style="border:0px solid gray; background-color: yellow; padding: 10px;  border-radius: 50%; margin-right: 10px;">🧍‍♂ </span>PLAYER1
        HISTORICAL RECORDS</a></div>
      <br><br>️
      <div class=" player2-his-record"><a routerLink="/player1record">
        <span
          style="border:0px solid gray; background-color: yellow; padding: 10px;  border-radius: 50%; margin-right: 10px;">🧍‍♂ </span>PLAYER2
        HISTORICAL RECORDS</a></div>
      <br><br>️
      <div class="task-provider">Reaktor 2022 Developer's Pre-Assignment</div>
      <br><br>
      <div class="task-developer ">Developer From Finland :<em>
        <strong> Ajao Hazzan</strong></em></div>
    </div>

  </div>
</div>
